a.linkje{
    color: yellow;
}

.descriptionBox{
    display: flex;
    width: 33vw;
    margin: 1rem;
    margin-bottom: 0.2rem;
    background-color: #3d3d3d;
    border-radius: 0.5rem;
}

.descriptionText{
    margin: 1rem;
}

.titleText{
    display: flex;
    justify-content: center;
}