.flowBox{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 1rem 1rem 1rem 0;
    padding: 0.7rem;
    background-color: #3d3d3d;
    border-radius: 0.5rem;
    justify-content: space-between;
}

.selectedRecipesList{
    background-color: none;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0.5em;
    width: 25vw;
    border-right: 4px solid rgb(0, 0, 0);
}

.singleSelectedPart{
    background-color: rgb(223, 223, 223);
    border-radius: 8px;
    color: black;
    margin-bottom: 0.5em;
    font-family: "Google Sans Code", monospace;
}

.selectedPartsList{
    height: 84vh;
    max-height: 84vh;
    overflow-y: auto;
}

.selectPartTopHalf{
    display: flex;
}

.partImageDiv{
    display: flex;
    width: 25%;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-right: 2px solid rgb(100, 100, 100);
}

.partImage{
    width: 50%;
    height: auto;
    object-fit: contain; 
}

.partBasicDescription{
    margin-left: 0.5em;
}

.selectedPartBottomHalf{
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    border-top: 2px solid rgb(100, 100, 100);

}

.flowchartArea{
    width: 100%;
    height: 75%;
}

.calculateButton{
    background-color: rgb(255, 191, 0);
    color: black;
    height: 2em;
    width: 67%;
    margin-right: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.clearButton{
    background-color: rgb(255, 119, 119);
    height: 2em;
    font-size: 1.5em;
    color: black;
    width: 29%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}