body, html, #root {
    background-color: rgb(37, 37, 37);
    font-family: 'Lato', monospace, sans-serif;
    font-size: clamp(10px, 1.1vw, 12px);
    color: aliceblue;
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
}

h1 {
    font-size: clamp(20px, 1.1vw, 25px);
}

button {
    font-family: inherit;
    color: lightgray;
}

a {
    color: inherit;          
    text-decoration: underline;  
    cursor: pointer;         
    outline: none;           
}

a:hover,
a:focus,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
    outline: none;
}