.recipesBox{
    display: flex;
    flex: 1;
    width: 33vw;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
    background-color: #3d3d3d;
    border-radius: 0.5rem;
}

.recipesContent{
    margin: 1rem;
    flex: 1;
    overflow-y: auto;
}

.searchfieldAnToggleBar{
    
}