.navBar {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #3d3d3d;
    align-items: center; 
}

.navLeft {
    display: flex;
    width: 40%;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}


.navButton {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: inherit;
    border: none;
    padding: 0.5rem 1rem; 
    cursor: pointer;
}

.navButton:hover{
    color:white;
}

.mainLogo {
    height: 4rem;
    width: 12rem;
}

.navRight {
    display: flex;
    width: 60%;
    justify-content: end;
    align-items: center;
    margin-left: auto; 
    color: lightgray;
    font-size: 1rem;
}

.status-dot {
    width: .5em;
    height: .5em;
    border-radius: 50%;
}

.status-offline{
    background-color: red;
}

.status-online{
    background-color: green;
}