a.linkje{
    color: yellow;
}

.descriptionBox{
    display: flex;
    width: 40vw;
    margin: 1rem;
    background-color: #3d3d3d;
    border-radius: 0.5rem;
}

.descriptionText{
    margin: 1rem;
}