.createRecipeContainer{
    display: flex;
    flex-direction: column;
    width: inherit;
    background-color: rgb(223, 223, 223);
    color: black;
    border-radius: 8px; 
}

.createRecipeQueryAndSelecter {
    display: flex;
    height: 20em;
    position: relative; 
}

.createRecipeQueryAndSelecter::after {
    content: "";
    position: absolute;
    left: 2em;   
    right: 2em;  
    bottom: 0;
    height: 2px;
    background: gray;
    border-radius: 1px;
}

.createRecipeSelectImage{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em 1em 2em;
}

.itemImage{
    height: 90%;
    margin-bottom: 0.2em;
}

.createRecipeUserInputField{
    width: 95%;
    height: 1em;
    border-radius: 8px; 
    outline: none; 
    border: 1px solid #ccc;
    text-align: center;
    height: inherit;
}

.createRecipeSelectWindow{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 4px; 
    background-color: #3d3d3d;
    margin: 0.5em;
    height: 89%;
    overflow-y: auto;
    padding: 0.5em;
}

.createObjectMapping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px; 
    background-color: rgb(223, 223, 223);
    margin: 0.2em;
}

.createObjectMapping:hover {
  background-color: rgb(240, 240, 240); 
}

.queryItemImage{
    width: 30%;
    padding: 0.5em;
}

.objectImageText{
    display: flex;
    width: 100%;
    font-family: "Google Sans Code", monospace;
    text-align: center;
}

.createRecipeMainInfo{
    position: relative;
    width: 98%;
    display: flex;
    margin: 1em;
}

.createRecipeMainInfo::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5em; /* Adjust as needed for spacing */
    height: 2px;
    background: #888; /* Match your vertical line color */
    border-radius: 1px;
}

.createRecipeLeftMenuItems{
    position: relative;
    width: 50%;
}

.createRecipeLeftMenuSingle{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.createRecipeMenuInputs{
    width: 70%;
    height: 1em;
    border-radius: 8px; 
    outline: none; 
    border: 1px solid #ccc;
    margin-right: 0.5em;
}

.createRecipeLeftMenuItems::after {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0;
    bottom: 0.5em;
    width: 2px;
    background: #888; /* Use a visible color */
    border-radius: 1px;
    z-index: 1;
}

.createRecipeRightMenuItems{
    width: 50%;
}

.createRecipePartsSelector{
    width: 98%;
    margin: 0.5em 1em 1em 1em;
}

.CreateRecipePartName{
    display: flex;
    align-items: center;
}

.createRecipePartInputs{
    width: 90%;
    height: 1em;
    border-radius: 8px; 
    outline: none; 
    border: 1px solid #ccc;
    margin-left: 0.5em;
}

.createRecipeScrollablePartsWindow{
    height: 10em;
    max-height: 10em;
    width: 99%;
    background-color: #757575;
    border-radius: 8px; 
    margin-bottom: 1em;
    margin-top: 1em;
    overflow-y: auto;
}