.selectRecipeContainer{
    width: inherit;
}

.userInputField{
    width: 99.5%;
    border: 0;
    padding: 0.2em 0 0.2em 0;
    border-radius: 8px; /* adjust px to your preferred roundness */
    outline: none; /* optional: remove default blue outline on focus */
    /* Optional: add a subtle border to see the rounded shape */
    border: 1px solid #ccc;
}