.selectRecipeContainer{
    width: inherit;
}

.userInputField{
    width: 98%;
    border: 0;
    padding: 0.2em 0 0.2em 0.5em;
    border-radius: 8px; 
    outline: none; 
    border: 1px solid #ccc;
    margin-bottom: 0.5vh;
}

.objectMapping {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    margin-bottom: 0.5vh;
    width: 95%;
}

.objectImage {
    width: 30%;
    height: auto;
    object-fit: contain; /* or cover if you want to crop */
    padding: 0.5vw;
}
.objectImageDiv{
    display: flex;
}

.generatedDivList{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid orange; /* or your theme color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}